.columns{
  background-color: #00628b;
  color: #ffffff;
  padding: 8px;
  font-size: 22px;
  border-radius: 20px;
  margin-top: 50px;
}

.Hrows{
  background-color: #616161;
  color: #ffffff;
  font-size: 15px;
  border-right:  1px solid #ffffff;
}
.txtpad{
  padding: 8px;
}
